{% extends "base.html" %}

{% block start %}

<section>
    <div class = "container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr No</th>
                <th scope="col">Blog Title</th>
                <th scope="col">Created Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blog_objects %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{blog.title}}</td>
                <td>{{blog.created_date}}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'blog_update' blog.slug %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'delete_view' blog.slug %}">Delete</a>
                    
                </td>
            </tr>
            {%endfor%}
           
        </tbody>
    </div>
</section>

{% endblock %}